:root {
    --blue: #085e79;
    --indigo: #0d0cb5;
    --purple: #7971ea;
    --pink: #e83e8c;
    --red: #f23a2e;
    --orange: #ef6c57;
    --yellow: #f89d13;
    --green: #8bc34a;
    --teal: #48d494;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #f37121;
    --secondary: #6c757d;
    --success: #8bc34a;
    --info: #17a2b8;
    --warning: #f89d13;
    --danger: #f23a2e;
    --light: #f8f9fa;
    --dark: #343a40;
  }
  
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .admin_wrap {
    height: 557px;
  }
  .adminLoginBgImg {
    height: 440px;
    width: 75%;
    margin-left: 15%;
    background: url("../images/hospital.jpeg");
    background-size: 100% 100%;
  }
  
  .adminLoginForm {
    width: 80%;
    padding: 5%;
    box-shadow: 2px 4px 13px #008cba;
    margin-top: 20%;
    border-radius: 10px;
  }
  
  .adminLoginForm label {
    font-size: 13px;
    font-weight: 600;
  }
  
  .adminLoginForm .form-group input {
    margin-top: -2%;
  }